/* body*/
.body {
  font-family: "Roboto", sans-serif;
   color:var(--body-text-color);
   background-color:var(--background-white-color);
    }
  /* header */
  .top-line-body {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
     0px 1px 6px rgba(46, 47, 66, 0.08);
    }
    .top-line-body-container{
       display: flex;
      align-items: center;
      
    }
  .menu-nav-header {
    padding-left: 76px;
    display: flex;
    align-items: center;
    gap: 40px;

      }
      .list{ list-style: none;
       
      }
     
      .studio-header-portfolio {

        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--title-text-color);
        display: flex;
        padding-top: 24px;
        padding-bottom: 24px;
        align-items: center
       } 
       .studio-header-portfolio-link:hover,
       .menu-page-nav-item :focus {
        color: var(--pressed-state-color);
       
       } 
       .stydio-header-color{
        font-family: var(--secondery-font);
        font-weight: 800;
        font-size: 18px;
        line-height: 1.2;
        letter-spacing: 0.03em;
        color: var(--title-text-color);
        text-transform: uppercase;
      }
      .logo-class-portfolio
      {
        margin-right: 76px;
        font-family: var(--secondery-font);
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--primary-brand-color);
        text-transform: uppercase;
        display: inline-block;
        margin-bottom: 16px;
      }
      .nav-logo-class{ 
        display: flex;
        align-items: center;
        margin-right: auto;}
              /* adress */
      .address-header-address{
        font-style: normal;
        display: flex;
        align-items: center;
        gap: 40px;}
      
     
     .mail-address-header-address {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;}
     .tel-address-header-address {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      color: #434455;
      }
      .mail-tel-address-header-address{
        display: flex;
        align-items: center;
        gap: 40px;
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: var(--body-text-color)}
        .mail-tel-address-header-address:hover,
        .mail-tel-address-header-address:focus
         {
         color: var(--pressed-state-color);
        }
        /* section-one */
      .hero-image {
        background-color: var(--background-dark-color); 
        padding-top: 188px;
        padding-bottom: 188px;
        background-color: var(--background-dark-color);
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),url("../images/people-office\ 1.jpg");
        background-size: cover;
        max-width: 1440px;
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
       
        }
      .hero-text {

          font-weight: 700;
          font-size: 56px;
          line-height: 1.07;
          letter-spacing: 0.02em;
          max-width: 496px;
          text-align: center;
          margin: 0 auto 48px;
          color: var(--background-white-color);
     }
      .button-one { 
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: var(--background-white-color);
        background: var(--primary-brand-color);
        cursor: pointer;
        align-items: center;
        border-radius: 4px;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 32px;
        padding-right: 32px;
        min-width: 169px;
        height: 56px;
        border: none;
        margin: 0 auto;
        }
    .button-one:hover,
    .button-one:focus {  
      background-color: var(--pressed-state-color);
      color: var(--background-white-color)
     }
        /*cection-2*/
      .cection-two-cection { 
        padding-top: 120px;
        padding-bottom: 120px;




      }
      .content-our-list{  
        display: flex;
        gap: 24px;
    }
     
      .feature-li-feature { 
         
            width: calc((100% - 72px) / 4);
           
       
      }


         .strategy-our-actions 
         {
           font-weight: 500;
           font-size: 20px;
           line-height: 1.2;
           letter-spacing: 0.02em;
           color: var(--title-text-color);
           margin-bottom: 8px;
          }
         
          .strategy-text-our-actions
           {
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: var(--body-text-color);
            }
           .content-our-actions-icon{}
           .content-our-actions-item-icon {
            display: flex;
            height: 112px;
            background-color: #F4F4FD;
            justify-content: center;
            align-items: center;
            margin-bottom: 8px;
            border-radius: 4px;
        
        }
                 
             /*section-3*/
            .section-three {
              padding-bottom: 120px;
             }  
            /*what-are-we-doing*/
      .what-are-we-doing
             {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        letter-spacing: 0.02em;

        text-transform: capitalize;
        margin-bottom: 72px;
        color:var(--title-text-color);
            } 
            .what-are-list{
              display: flex;
              flex-wrap: wrap;
              gap: 24px;}   
    .img-section-three {  
      flex-basis: calc((100% - 48px) / 3);
     
      } 
      .rectangle-71 {
        box-sizing: border-box;
        width: 360px;
        height: 300px;
        background: url(2368.jpg);
        border: 1px solid #E7E9FC;
        flex: none;
        order: 0;
        flex-grow: 0;
      }  
                  /*section-4*/
         
         .our-team-social-list-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: var(--primary-brand-color);
      }
      
      .our-team-social-list-link:hover,
      .our-team-social-list-link:focus {
          background-color: var(--pressed-state-color);
      }
      
      .our-team-social-list {
          display: flex;
          justify-content: center;
          gap: 24px;
      }
      
      .our-team-social-list-icon {
          fill: #F4F4FD;
      } 
       
        .section-our-team {
          background-color: var(--background-section-color);
          padding-top: 120px;
          padding-bottom: 120px;
          background-color:  var(--background-section-color);
        background-image:  url("../images/Light-bg.jpg");
        background-size: cover;
        
        background-repeat: no-repeat;
        background-position: center;
        margin-left: auto;
        margin-right: auto;
       
        }
        .our-team-container
        {  
            padding-top: 32px;
             padding-bottom: 32px;
             border-radius: 0px 0px 4px 4px;
        }
         

          .team-card-one {
            
            flex-basis: calc((100% - 72px) / 4);
            background-color: var(--background-white-color);
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
        
            border-radius: 0px 0px 4px 4px;;
         }

          .ul-our-team-one {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
        
            border-radius: 0px 0px 4px 4px;
          }
          .img-mark {
            background: url(man-with-laptop-presenting-something.jpg);
            mix-blend-mode: normal;
            flex: none;
            order: 0;
           flex-grow: 0;}
        .our-team-section  {
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 500;
          font-size: 20px;
          line-height: 24px;
          text-align: center;
          letter-spacing:0.02em;
          color: #2E2F42;
          flex:none;
          order: 0;
          flex-grow:0;
          margin-bottom: 8px;
        }
        
          
            .frontend-developer-text
             {
              font-weight: 400;
              font-size: 16px;
              line-height: 1.5;
              letter-spacing: 0.02em;
              color: var(--body-text-color);
              text-align: center;
            }
           .marketing {
             font-family: 'Roboto';
             font-style: normal;
            font-weight: 400;
             font-size: 16px;
            line-height: 24px;
             text-align: center;
             letter-spacing: 0.02em;
            color: #434455;
            flex: none;
            order: 1;
           flex-grow: 0;
          }  
          /*SECTIONS FIVE ICON*/

.our-customers {
  padding-top: 120px;
  padding-bottom: 120px;
}

.header-our-customers {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-text-color);
  margin-bottom: 72px;
}

.our-customers-list-item-link {
  color:#8E8F99 ;
  display: flex;
  border: 1px solid #8E8F99;
  justify-content: center;
  align-items: center;

  height: 88px;

  border-radius: 4px;

}

.our-customers-list-item {
  width: calc((100% - 120px) / 6);
 
 
}


.our-customers-list-item-link:hover,
.our-customers-list-item-link:focus {
    border-color: #404bbf;
    color: #404bbf;}


.our-customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;

}

.our-customers-list-icon {
  fill: currentColor;
 
}


   
          /*footer*/

          
          .peage-footer-social-list {
            display: flex;
            gap: 16px;
        }  
        .peage-footer-social-list-link {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          background-color: var(--primary-brand-color);
      }
      .peage-footer-social-list-icon {
        fill: #F4F4FD;
    }
    
    .peage-footer-social-list-link:focus,
    .peage-footer-social-list-link:hover {
        background-color: #31D0AA;
    }
    
   
      
     .footer-class-portfolio {
      background: var(--background-dark-color);
      padding-top: 100px;
      padding-bottom: 100px;
      }
      .footer-class-container{
        display: flex;
        align-items: baseline;
        gap: 120px;
        margin-right: 120px;
      }
  
    .logo-footer-class-portfolio
    { 
        color: var(--primary-brand-color);
         font-family: var(--secondery-font);
         font-style: normal;
         font-weight: 800;
         font-size: 18px;
          letter-spacing: 0.03em;
          line-height: 1.17;
              text-transform: uppercase;
           display: inline-block;
      margin-bottom: 16px;

     }
     .footer-text-portfolio
     {
       
       font-style: normal;
       font-weight: 400;
       font-size: 16px;
       line-height: 1.5;
       letter-spacing: 0.02em;
       color: var(--background-section-color);
       width: 264px;
     }

        /* ------portfolio ------*/
        .top-line-nav-ul
        {
         background: #FFFFFF;
         border-bottom: 1px solid #E7E9FC;
         font-family: "Raleway", sans-serif;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em ;
        text-transform: uppercase;
        color: #434455;}
       .menu-nav-ul{
        font-style: normal;
        display: flex;
        align-items: center;
        gap: 40px;
          }
      .studio-nav-ula{
        font-family: 'Roboto';
       
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02em;
        color: #2e2f42 ;
        flex: none;
        order: 0;
        flex-grow: 0;
      }

       .mail-adress-mail{
          font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #434455;}
        .tel-adress-tel{
           font-family: 'Roboto';
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          letter-spacing: 0.02em;
          color: #434455;}
          /*section-filters*/
          .content-portfolio
          {
            padding: 96px 0 120px;
            padding-bottom: 120px;
            padding-top: 96px;

            }
            .contacts-address-list-van{
              font-size: 16px;
              line-height: 1.5 ;
              letter-spacing: 0.02em;
              color: #434455;
              }
              .add-re-ss{ font-style: normal;}
             .contacts-address-list {
              font-size: 16px;
              line-height: 1.5 ;
               letter-spacing: 0.02em;
               color: #434455;
              }
          
            .portfolio-btn-list{
              }

              .portfolio-button:hover{
                color: var(--background-white-color);
                background-color: var(--pressed-state-color);
                border: 1px solid transparent;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
              }
              
              .portfolio-button:focus{
                color: var(--background-white-color);
                background-color: var(--pressed-state-color);
                border: 1px solid transparent;
                box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1),
                0px 2px 1px rgba(0, 0, 0, 0.08),
                0px 2px 2px rgba(0, 0, 0, 0.12);
                }
           
            
          .portfolio-button{
            font-family: "Roboto", sans-serif;
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.04em;
            color: var(--primary-brand-color);
            background: var(--background-section-color);
            align-items: center;
            cursor: pointer;
            display: block;
            border: 1px solid #e7e9fc;
            border-radius: 4px;
            padding: 12px 24px;
            
            }

          .taxi-five-box-list{
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;}
         
          .marketing-text{
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: 0.04em;
            color: #4D5AE5;
            flex: none;
            order: 0;
            flex-grow: 0;}
          
          .banking{box-sizing: border-box;
           background: #FFFFFF;
           border: 1px solid #E7E9FC;}
    
      .container-photo{
        padding: 32px 16px;
        border: 1px solid #e7e9fc;
        border-top: none;
        margin-bottom: 8px;
      }

     
        
      .menu-nav-list{
        display: flex;
        flex-wrap: wrap;
        gap: 24px;
        align-items: center;
        justify-content: center;
        margin-bottom: 72px;
      }
   
           
  .banking-text-five
  {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 8px;}
  .five-marketing-text
  {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--body-text-color);}
  
    .taxi-five-box{

      flex-basis: calc((100% - 144/9));
    }
 
      
      .box-text-five{
        display: block;
       }
       .box-text-five:focus{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
       }
       .box-text-five:hover{
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
       }
       
       .portfolio-button {
    color: #4d5ae5;
    background-color: #F4F4FD;
        }
          /*footer-2*/
          .container-peage-footer-social-media
          {
         
            position: absolute;
            width: 208px;
            height: 80px;
            left: 540px;
            top: 1864px;
            
     
          }
          .peage-footer-social-text{
            font-weight: 500;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #FFFFFF;
            margin-bottom: 16px;
          }
 
    
   .footer-class-portfolio
    {
     background: var(--background-dark-color);
     padding-top: 100px;
     padding-bottom: 100px;
     }
       

      .stydio-footer-color{
        font-family: var(--secondery-font);
        font-style: normal;
        font-weight: 800;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        color: var(--background-section-color);
        text-transform: uppercase;
      }
      .link{ text-decoration: none;}
      .link:hover, .link:focus {
        color: #404bbf;} 
        a:hover {
          color: #404bbf;
        }
        
             /* Focus style for links */
              a:focus {
              color: #404bbf;
              }
          
              :root {
                --primari-font: 'Roboto', sans-serif;
                --secondery-font: 'Raleway', sans-serif;
                --title-text-color: #2E2F42;
                --body-text-color: #434455;
                --accent-color: #e7e9fc;
                --primary-brand-color: #4D5AE5;
                --pressed-state-color: #404bbf;
                --background-section-color: #f4f4fd;
                --background-dark-color: #2e2f42;
                --background-white-color: #ffffff;
            }
            


           

            h1,
            h2,
            h3,
            h4,
            p {
              
                margin-top: 0;
                margin-bottom: 0;
                
            }
            
            ul {
                margin-top: 0;
                margin-bottom: 0;
                padding-left: 0;
            
            }
            
            img {
                display: block;
            }
            
            button {
                display: block;
            
            }
            
            
            
            .container {
                width: 1158px;
                margin-left: auto;
                margin-right: auto;
                padding-left: 15px;
                padding-right: 15px;
            }
            

